<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport"content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;"/>
    <meta name="format-detection"content="telephone=no"/>

    <!--S 本地样式，开发请删除-->
    <link rel="stylesheet"href="./stylesheets/base.s.css"/>
    <link rel="stylesheet"href="./stylesheets/index.s.css"/>
    <!--E 本地样式-->

    <title>TODO</title>
</head>
<body>
    <h1 class="title">TODO</h1>
    <div class="todo_board">
        <div class="todo_input" >
            <input type="text" placeholder="准备做...">
        </div>
        <ul class="todo_list">
            <li>
                <div class="todo done" style="-webkit-transform:translate(-40px,0);transform:translate(-40px,0);"> <i class="status hell"></i>
                    <p class="tit">标题，需要限制字数
                        <small class="time">yyyy-HH-mm</small>
                    </p>
                    <div class="btn_del" style="display: block;"></div>
                </div>
            </li>
            <li>
                <div class="todo"> <i class="status hard"></i>
                    <p class="tit">标题，需要限制字数
                        <small class="time">yyyy-HH-mm</small>
                    </p>
                    <div class="btn_del"></div>
                </div>
            </li>
            <li>
                <div class="todo"> <i class="status easy"></i>
                    <p class="tit">标题，需要限制字数
                        <small class="time">yyyy-HH-mm</small>
                    </p>
                    <div class="btn_del"></div>
                </div>
            </li>
             <li>
                <div class="todo done"> <i class="status"></i>
                    <p class="tit">标题，需要限制字数
                        <small class="time">yyyy-HH-mm</small>
                    </p>
                    <div class="btn_del"></div>
                </div>
            </li>
        </ul>
    </div>
    <div class="mod_alert_layer">
        <div class="todo_detail_board">
        <div class="detail">
            <p class="time">yyyy-HHH-mm</p>
            <div class="desc">
                今天需要完成什么事情
                今天需要完成什么事情
                今天需要完成什么事情
                今天需要完成什么事情
            </div>
        </div>
    </div>
    </div>
</body>
</html>