@charset "utf-8";
/**
 * @desc TODO
 * @author litingting6@jd.com
 * @date 20150921
 */
@import 'sass/function';
@import 'sass/mod_border';
body {
    background: #f2f2f2;
}
$color_yellow: #fcc45e;
$color_green: #9cd44c;
$color_blue: #80adf4;
.title {
    font-size: 48px;
    color: $color_red;
    text-align: center;
}

/* todo board
----------------- */
.todo_board , .todo_detail_board {
    background-color: #fff;
    -webkit-box-shadow: 1px 4px 5px rgba(0,0,0,.1);
    box-shadow: 1px 4px 5px rgba(0,0,0,.1);
}
.todo_list {
    padding: 0 10px;
    overflow: hidden;
    li:last-child .todo:after {
        display: none;
    }
}
.todo_input {
    position: relative;
    padding: 20px;
    margin-bottom: 15px;
    &:after { @extend %border-btm-1pt;}
    input {
        @extend %border_box;
        @extend %input_clear;
        width: 100%;
        height: 40px;
        line-height: 40px;
        padding: 20px;
        color: #333;
        border: 1px solid #ddd;
    }
}
.todo {
    position: relative;
    padding: 0 10px 0  25px;
    line-height: 50px;
    &:after {
        border-color: #f2f2f2;
        @extend %border-btm-1pt;
    }
    &.done {
        .status:before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            line-height: 1;
            text-align: center;
            content: '\2714';

        }
        .tit {
            color: #ddd;
            text-decoration: line-through;
            .time {
                color: inherit;
            }
        }
    }
    .status {
        position: absolute;
        top: 50%; left: 5px;
        -webkit-transform:translate(0,-50%);
        transform:translate(0,-50%);
        display: inline-block;
        width: 15px;
        height: 15px;
        &:after { @extend %border-1pt;}
        &.hell {
            color: $color_red;
            &:after {
                border-color: $color_red;
            }
        }
        &.hard {
            color: $color_yellow;
            &:after {
                border-color: $color_yellow;
            }
        }
        &.easy {
            color: $color_green;
            &:after {
                border-color: $color_green;
            }
        }
    }
    .tit {
        color: #333;
        @extend %text_oneline;
        .time {
            color: $color_blue;
            float: right;
        }
    }
    .btn_del {
        display: none;
        position: absolute;
        top: 0;
        right: -50px;
        width: 50px;
        height: 50px;
        background: rgba($color_red,.9);
        &:after {
            @extend %border-btm-1pt;
        }
        &:before {
            position: absolute;
            content: '\2715';
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
            width: 50px;
            height: 50px;
            color: #fff;
            font-size: 50px;
            text-align: center;
        }
    }
}
/* todo layer
------------------ */
.mod_alert_layer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    z-index: 80;
    &.show {
        display: block;
    }
}
.todo_detail_board {
    -webkit-transition:all .5s ease;
    transition:all .5s ease;
    padding: 10px;
    position: fixed;
    top: -100%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    width: 80%;
    min-height: 240px;

    &.fixed {
        top: 50%;
        z-index: 80;
    }
    .detail {
        color: #999;
        .time {
            font-size: 10px;
            color: $color_blue;
            margin-bottom: 5px;
        }
        .desc {
            @extend %border_box;
            width: 100%;
            padding: 10px;
            min-height: 200px;
        }
        textarea {
            resize: none;
            border: 1px solid #ddd;
        }
    }
}